<footer class="pa5 f6">
  <ul class="list pl0 w-third fl mv0">
    <li class="pb2"><a class="link white" href="{{ site.baseurl }}/information.html">Información</a></li>
    <li class="pb2"><a class="link white" href="">Contacto</a></li>
  </ul>
  <ul class="list pl0 w-third fl mv0">
    <li class="pb2"><a class="link white" href="https://twitter.com/filmeszapatero">Twitter</a></li>
    <li class="pb2"><a class="link white" href="">Youtube</a></li>
    <li class="pb2"><a class="link white" href="">Instagram</a></li>
  </ul>
  <ul class="list pl0 w-third fl mv0">
    <li class="pb2">Santurce</li>
    <li class="pb2">San Juan, Puerto Rico 00907</li>
    <li class="pb2">+1 787-998-0043</li>
  </ul>
  <div class="cf"></div>
</footer>
